/* Large devices (desktops, 992px and up) */
@media(min-width: 992px) {
    .logo {
        height: 10vh;
    }

    .nav {
        width: 90%;
        margin-right: 1.5em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* space-between  space-around */
        align-items: center;
        margin-top: .9em;
    }

    article {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    h1,
    h2,
    h3 {
        font-family: 'Ubuntu', sans-serif;
    }

    h1 {
        font-size: 4em;
        font-weight: bolder;
    }

    button {
        width: 20%;
        height: 76px;
        border: none;
        padding: .5em 1.5em;
        background: black;
        color: white;
        font-size: 2em;
        margin-bottom: 1em;
        margin-top: 3em;
    }

    div {
        margin-top: 1em;
        font-size: 1.2em;
    }

    span {
        margin: 0 2em;
    }

    input {
        width: 30%;
        height: 55px;
    }

    textarea {
        width: 30%;
        height: 100px;
    }

    .bodyDiv {
        display: flex;
        flex-direction: row;
    }
}

.logo {
    height: 10vh;
}

.nav {
    width: 90%;
    margin-right: 1.5em;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* space-between  space-around */
    align-items: center;
}

article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

li {
    margin: .5em;
}

h1,
h2,
h3 {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: bolder;
}

button {
    width: 20em;
    height: 4.5em;
    border: none;
    padding: .5em 1.5em;
    background: black;
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 3em;
}

div {
    margin-top: 1em;
    font-size: 1.2em;
}

span {
    margin: 0 2em;
    font-size: 2em;
}

input {
    width: 18em;
    height: 4.5em;
}

textarea {
    width: 18em;
    height: 9em;
}

.bodyDiv {
    display: flex;
    flex-direction: row;
}