@import url('https://fonts.googleapis.com/css?family=Staatliches|Thasadith');
@import url("reset.css");

html {
    box-sizing: border-box;
    font-family: Thasadith;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Thasadith', sans-serif;
    display: flex;
    /* All child elements become flex elements */
    align-items: center;
    /* Horizontal */
    justify-content: center;
    /* Vertical */
    flex-direction: column;
    /* row or column */
    min-height: 100vh;
    /* Viewport heights */
    background: lightyellow;
}

header {
    display: flex;
    flex-direction: row;
}

header,
article,
footer {
    background: lightblue;
    padding: 1em 2em;
    font-size: 2em;
    width: 100%;
}

header,
footer {
    /* min-height: 1em; */
}

article {
    flex: 1;
    /* Take up the remaining space */
    display: flex;
    flex-wrap: wrap;
    /* wrap  wrap-reverse */
}

.logo {
    height: 10vh;
}

.branding {
    display: flex;
    justify-content: center;
    max-height: 10vh;
    width: 30%;
}

.nav {
    width: 70%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* space-between  space-around */
}

.card {
    display: flex;
    flex-direction: column;
    width: 31%;
    background: white;
    margin: 1%;
    min-height: 12em;
    transition: all 0.3s ease-out;
}

button {
    width: 80%;
    border: none;
    padding: .5em 1.5em;
    background: black;
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pullquote {
    flex: 1;
    font-size: .8em;
}

.card-footer {
    /* background: orangered; */
    text-align: center;
}

.card:hover {
    box-shadow: 10px 10px 0px 1px rgba(0, 0, 0, 1);
    transform: translateY(-2px) scale(1) translateZ(0);
}