<%- include("./partials/header.ejs")%>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/hero-ocean.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=title %></h5>
    <p class="card-text"><%=body %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<%- include("./partials/footer.ejs")%>