<%- include("./partials/header.ejs")%>
<%- include("./partials/navigation.ejs")%>
    <% for(let i=0;i<5;i++){%>
    <li><%= i %></li> 
    <% }%>
    <% if(true) {%>
    <img src="https://i.imgur.com/SAlYarP.jpg" width="480" height="480" alt="Student Illustration">
    <img src="./images/hero-ocean.jpg" alt="hero-ocean" width="50%" height="auto">
    <% }%>
<%- include("./partials/footer.ejs")%>